.popup__close-btn {
  position: absolute;
  width: 33px;
  height: 33px;
  padding: 0;
  margin: 0;
  border: none;
  top: -33px;
  right: -33px;
  background-image: url(../../../images/close_btn.svg);
}

@media only screen and (max-width: 768px) {
  .popup__close-btn {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
