.popup__close-btn {
  position: absolute;
  padding: 0;
  border: none;
  top: -33px;
  right: -33px;
  transition: 0.8s;
}

@media only screen and (max-width: 768px) {
  .popup__close-btn {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
